img, figure {
  margin: 0;
  padding: 0;
  height: auto;
  line-height: 0;
	cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}


/* ----------- Spinner Rectangle CSS -----------*/
.sk-folding-cube {
  margin: -35px 0 0 -35px;
  width: 70px;
  height: 70px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
          
          
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 20;
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}








ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 8px 0;
    display: block;
}
li a {
    display: block;
}

.main-navbar {
    position: relative;
    color: white;
    z-index: 5;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /*height: 42px;*/
    height: 60px;
}

.main-navbar-content {
    padding: 13px 16px;
}

.main-content {
    position: relative;
    margin-top: 42px;
    padding: 1em;
}

.share-container{
  width: 200px; 
  position: absolute; 
  bottom: 0;
  margin:0 0 120px -100px;
  left: 50%;
}

.fhnw-logo{
  width: 240px;
  position: absolute; 
  bottom: 0;
  margin:0 0 50px -120px;
  left: 50%;
}

.section {
    margin: 1em auto;
    margin-bottom: 3em !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 300px;
}

.main-sidebar p{
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 20px 20px 0px 20px;
    height: 55px;
    border-bottom: 1px solid white;
	  cursor: pointer;
}

.menu-sidebar-content{
    margin: 220px 0 0 0;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

body {
	background: black;
	color: #eee;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:Verdana;
	font-size:13px;
	text-align:center;
}


#info {
	position: absolute;
	top: 5px; width: 100%;
	padding: 5px;
	z-index:100;
}


canvas { width: 100%; height: 100% }


.sidebar-wrapper {
	position: relative;
	height: 100%;
	overflow: auto;
}

.box{
  display: inline-block;
  margin: 100px 10px 0 10px;
  padding: 5px;
  height: 45px;
  background-color: rgba(1,1,1,0.45);
  border: 1px solid white;
	cursor: pointer;
}

.box_selected{
  background-color: rgba(255,255,255,0.5);
  border: 1px solid white;
	cursor: default;
}

.box_unselected{
}

.buttons {
	float: left;
	width: 100%;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 10;
}

#topoBox{
  position: absolute;
  background: rgba(0,0,0,0.5);
  border-radius: 0 0 15px 15px;
  font-family: roboto;
  width: 180px;
  height: 80px;
  right: 50%;
  margin-right: -90px;
  z-index: 15;
  display: none;
  top: 0;
}

#topoBox p{
  position: relative;
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
  text-align: top;
}

#topoBox a{
  font-size: 18px;
  text-decoration: underline;
}

.help-box {
    position: absolute;
    padding: 0px 20px 0px 20px;
    background: rgba(0,0,0,0.5);
    top: 0;
    right: 0;
    margin:10px 10px 0 0;
    border-radius: 15px 15px 15px 15px;
    display: none;
    text-align:left;
	  font-size:18px;
    font-family: roboto;
}

.resize-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 215px;
    margin-bottom: 215px;
    height: 30px;
    width: 30px;
}

.map-box{
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 250px;
    height: 250px;
    right: 0;
    bottom: 0;
    background-color: white;
}

.map-box #map {
    width: 250px;
    height: 250px;
}

.full-map-box{
    display: none;
    position: absolute;
    border-left: 2px solid black;
    border-top: 2px solid black;
    width: 960px;
    height: 520px;
    right: 0;
    bottom: 0;
    background-color: white;
}

.full-map-box #full-map{
    height: 520px;
    width: 960px;
}

.map-point {
    position: absolute;
    width: 18px;
    height: 18px;
    right: 0;
    bottom: 0;
}

.map-point .red-dot-inner{
    position: fixed;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    line-height: 14px;
    margin-left: 2px;
    margin-top: 2px;
    background: red;
}

.map-point .red-dot-outer{
    position: fixed;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    line-height: 18px;
    background: black;
}

.resize-icon-full{
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 925px;
    margin-bottom: 485px;
    height: 30px;
    width: 30px;
}

#content{
    position: absolute;
    border-radius: 25px;
    margin: 50px 150px 50px 150px;
    background: white;
    padding: 50px;
    z-index: 21;
}

#content-container{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(0,0,0,0.5);
    z-index: 20;
    overflow: scroll;
}

.close-icon{
    position: absolute;
    color: black;
    width: 25;
    height: 25px;
    right: 0;
    top: 0;
    margin: 70px 180px 0 0;
    z-index: 22;
}

#copyright{
    position: absolute;
    bottom: 0;
    left: 50%;
    width:600px;
    text-align:center;
    margin: 0 0 15px -300px;
    color: white;
    font-family: roboto;
}

#overlay > p {
    font-family: roboto;
    font-size: 20pt;
    font-weight: 200;
    left: 50%;
    margin: -200px 0 0 -300px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 600px;
}

/*
#help:after {
	bottom: 100%;
	left: 93%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(7, 3, 69, 0);
	border-bottom-color: rgba(0,0,0,0.5);
	border-width: 20px;
	margin-left: -20px;
}*/



