img, figure {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  line-height: 0;
	cursor: pointer;
}

.spinner {
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  margin: -30px 0 0 -30px;
  position: absolute;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 8px 0;
    display: block;
}
li a {
    display: block;
}

.main-navbar {
    position: relative;
    color: white;
    z-index: 10;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
}

.main-navbar-content {
    padding: 4px 16px;
}

.main-content {
    position: relative;
    margin-top: 42px;
    padding: 1em;
}

.section {
    margin: 1em auto;
    margin-bottom: 3em !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 300px;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

body {
	background: black;
	color: #eee;
	padding:0;
	margin:0;
	font-weight:bold;
	overflow:hidden;
	font-family:Verdana;
	font-size:13px;
	text-align:center;
}


#info {
	position: absolute;
	top: 5px; width: 100%;
	padding: 5px;
	z-index:100;
}

a { color: #0080ff; }

canvas { width: 100%; height: 100% }

b { color: #00A329 }

.sidebar-wrapper {
	position: relative;
	height: 100%;
	overflow: auto;
}

.box{
  display: inline-block;
  margin: 100px 10px 0 10px;
  padding: 5px;
  height: 45px;
  background-color: rgba(1,1,1,0.5);
  border: 1px solid white;
	cursor: pointer;
}

.box_selected{
  background-color: rgba(255,255,255,0.5);
  border: 1px solid white;
	cursor: default;
}

.box_unselected{
}

.buttons {
	float: left;
	width: 100%;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    display: none;
}



