img, figure {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    line-height: 0;
	cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 8px 0;
    display: block;
}
li a {
    display: block;
}

.main-navbar {
    position: relative;
    background-color: #206B85;
    color: white;
    z-index: 10;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
}

.main-navbar-content {
    padding: 4px 16px;
}

.main-content {
    position: relative;
    margin-top: 42px;
    padding: 1em;
}

.section {
    margin: 1em auto;
    margin-bottom: 3em !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: 300px;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1em;
}

body {
	background: black;
	color: #eee;
	padding:0;
	margin:0;
	font-weight:bold;
	overflow:hidden;
	font-family:Verdana;
	font-size:13px;
	text-align:center;
}

#info {
	position: absolute;
	top: 5px; width: 100%;
	padding: 5px;
	z-index:100;
}

a { color: #0080ff; }

canvas { width: 100%; height: 100% }

b { color: #00A329 }

.sidebar-wrapper {
	position: relative;
	height: 100%;
	overflow: auto;
}

.box {
    background-color: white;
    color: black;
    display: inline-block;
    margin: 50px 10px 0 10px;
	width: 50px;
	height: 50px;
}

.buttons {
	float: left;
	width: 100%;
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5) center center no-repeat;
    opacity: .5;
}



